---
layout: default
title: Our Team
---
<div class="container">
<ul class="list-unstyled">
	<div class="jumbotron">{{ page.title }}</div>

	  {% include bio.html 
	  	url="/assets/images/bio_amy.jpeg"
	  	name="Amy Pickup"
	  	role="Founder"
	  	content="Amy is an Application Developer based in Brooklyn. When she's not coding, she obsesses over food/wine and exploring NY. She graduated from the University of Texas at Dallas with a M.A. in Emerging Media and Communications and B.S. in Computer Science." %}

	  {% include bio.html 
	  	url="/assets/images/bio_agata.jpeg"
	  	name="Agata Smieciuszewski"
	  	role="Marketing & Events"
	  	content="Agata is a Social Media and Marketing guru who lives in Los Angeles. She earned an M.A. in Business Administration, Marketing and International Management Studies from the University of Texas at Dallas. She runs a cool podcast and supports LA Foodie." %}

	  {% include bio.html 
	  	url="/assets/images/bio_syd.jpeg"
	  	name="Sydnie Montgomery"
	  	role="Multimedia Designer"
	  	content="Sydnie is a creative professional who has experience as a multimedia specialist and educator. She specializes in graphic design, video production, photography and social media communications with a focus on supporting small companies and non-profits in Dallas, TX." %}

	  {% include bio.html 
	  	url="/assets/images/bio_mary.jpeg"
	  	name="Mary Skinner"
	  	role="Producer, Project Manager"
	  	content="Mary is a Senior Producer and avid runner based in Dallas, TX. She earned a M.A. in Emerging Media and Communication and a B.A. in Cinema TV from Southern Methodist University." %}

	  {% include bio.html 
	  	url="/assets/images/bio_julie.jpeg"
	  	name="Julie Strickland"
	  	role="Mechanical Engineer"
	  	content="Julie is a true innovator. She has one patent awarded and five other patent applications in process. She has ten years of experience in mechanical engineering, including interconnect, electronics packaging, and materials science. She enjoys presenting technical seminars and writing technical papers. She has an MS in Material Science & Engineering from University of North Texas and is based in the Dallas area." %}

	  {% include bio.html 
	  	url="/assets/images/bio_shannon.jpeg"
	  	name="Shannon Burke"
	  	role="Design Assurance Engineer"
	  	content="Shannon is a biotechnology professional focused on the planning, management, development and testing of highly functional systems. She is based in Boston." %}
</ul>
</div>