<nav class="navbar navbar-light">
    <div class="container text-uppercase">
        <a class="navbar-brand " href="/">
            <img src="/assets/images/ProofECLogo_001.jpg" class="center-block" alt="Etiquette">
        </a>
        <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
           <!-- <li><a href="/">Home</a></li> -->
            <li><a href="/about">About Us</a></li>
            <li><a href="/team">Our Team</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/volunteer">Volunteer</a></li>
            <li><a href="/donate">Donate</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        </div>
    </div>
</nav>