---
layout: default
title: About Us
---
<div class="parallax" style="background-image: url(../assets/images/electronic-fashion-camp-girl-studying.jpg);">
	<div class="container">
		<div class="row">
			<h1 class="parallax-text">Enabling girls to pursue interests in the STEM fields</h1>
		</div>
	</div>
</div>
<div class="container slideanim">
	<div class="jumbotron transparent">
	<h2>The Problem</h2>

	<p>The number of women choosing to pursue technology related fields is drastically disproportionate to the number of men those same fields. (NSF) </p>

	<p>Girls need more encouragement from a younger age to continue into the fields of Engineering and Computer Science throughout their education. </p>
 
	<h2>Our Goal</h2>

	<p>Computer Science and Engineering industries can only benefit from an increase in the number of women in technology. Diversity in anything is critical to success. We aim to empower girls with the ability to make an informed choice about their future by exposing them to new technologies that interest them.</p> 

	<h2>How we get there</h2>

	<p>We conduct workshops and day camps that aim to teach girls new technologies that combine engineering, computer science and the arts.</p>

	<div class="row">
		 {% include processCards.html
		 	url="../assets/images/electronic-fashion-camp-girls-at-table-small.jpeg"
		 	alt="girls working at table"
		 	title="Research and Development"
		 	content="Identifying new, engaging technologies that span multiple disciplines" %}

		 {% include processCards.html
		 	url="../assets/images/electronic-fashion-camp-two-girls-with-help.jpeg"
		 	alt="Two girls with help"
		 	title="Events"
		 	content="Engaging participants, volunteers and sponsors" %}
		 
		{% include processCards.html
		 	url="../assets/images/electronic-fashion-camp-girl-with-pink-shirt-typing.jpg"
		 	alt="Girl Typing"
		 	title="Open Source"
		 	content="Creating handy online guides explaining each activity, enabling anyone to lead their own workshop" %}
	</div>
	</div>
</div>
<div class="parallax" style="background-image: url(../assets/images/electronic-fashion-camp-girl-with-clip-sewing.jpg);">
	<div class="container">
		<div class="row">
		<blockquote>
			<p class="parallax-text">Yes! This class has really broadened my horizons on technology.</p>
			<footer>Participant, when asked if she would take a future class in electronics or computer science because of the workshop. </footer>
		</blockquote>
		</div>
	</div>
</div>
<div class="container">
	<div class="jumbotron transparent">
	<h2>History</h2>

	<p>We started Etiquette Creative with the goal of finding a way to encourage girls to enter into STEM fields. With an understanding of the disparity between the number of men and women in STEM fields, we began researching ways to engage girls in technology at a younger age.</p>

	<p>We used the LilyPad Arduino, a microcontroller designed by Leah Buechley, as a test case and created an hour long workshop called "Tinkering with Microcontrollers". </p>
	
	<p>With the support of the University of Texas at Dallas EMAC Program and the Design Your World, Conference for Girls, we conducted our first experimental session with a group of 20 middle-school girls; and it was great! The girls lit up their own microcontrollers after learning about: </p>

    <ul>
    	<li>Engineering job roles from fellow women engineers</li>
    	<li>What is Arduino</li>
    	<li>How to code in Sketch</li>
	</ul>
	<p>What started as a 30-minute workshop quickly grew into a three-day, hands-on intensive camp for girls. We reformatted and grew the program to include all phases of the product lifecycle including design, prototype, build and test of their own light up bag.</p>

	<p>Our goal is to empower girls with the ability to make an informed choice about their future by exposing them to new technologies that interest them. We are dedicated to providing programming workshops that are interesting and intellectually challenging for young girls to create a talent pipeline for the STEM industries.</p>
	</div>
</div>