<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About Us</a></li>
<li><a href="/team">Our Team</a></li>

<li><a href="/blog">Blog</a></li>
<li><a href="/volunteer">Volunteer</a></li>
<li><a href="/donate">Donate</a></li>
<li><a href="/contact">Contact</a></li>

</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="">faq</a></li>
   <li><a href="">volunteer</a></li>
   <li><a href="">donate</a></li>
   <li><a href="mailto:hello@etiquettecreative.org">contact</a></li>
   </ul>
  </footer>
  </body>

</html>
